img {
  height: 250px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}

.shimmer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shimmer-box {
  height: 250px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
  background-color: lightgray;
}

.images-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

